spring:
  application:
    name: DMA-Backend
  datasource:
    url: jdbc:postgresql://localhost:5432/dma
    username: postgres
    password: 1007
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 3
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: your256bitsecretkeyhereyour256bitsecretkeyhere
  expiration: 86400000   # 24 hours in ms

